.content{
  margin-top: 1.2vh;
  color: $iceberg-white;

  @include medium {
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
    padding-left: 2vw;
  }

  @include large {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8vw;
    padding-left: 8vw;
  }

  h2{
    margin: 3vh 0px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    @include medium {
      margin: 0 0 2% 0;
      text-align: left;
      width: 100%;
    }
  }

}

.content__news {

  @include medium {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include large {
    width: 60%;
  }
}

.content__community {
  padding: 10% 5%;
  border-top: 1px solid tint($background, 10%);

  @include medium {
    padding: 0% 2%;
    border-top: none;
    border-left: 1px solid tint($background, 10%);
  }

  @include large {
    width: 32%;
  }

  form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;

    input[type=email] {
      width: 70%;
    }
  }

  &>div {
    margin-bottom: 2%;
  }

  img:hover{
    filter: brightness(1.5);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
  }
}
