.content{
  margin-top: 1.2vh;
  color: $iceberg-white;

  @include medium {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    padding-right: 8vw;
    padding-left: 8vw;
  }

  h2{
    margin: 3vh 0px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    @include medium {
      margin: 0 0 2% 0;
      text-align: left;
    }
  }

}

.content__news {

  @include medium {
    width: 60%;
  }
}

.content__community {
  height: 100%;
  background-color: grey;

  @include medium {
    height: 100%;
    width: 30%;
  }
}
