.events {

  div{
      height: 40vh;
  }

  @include medium {
    display: flex;
  }
}

.events__video {
  background-color: pink;

  @include medium {
    width: 30%;
  }
}

.events__dates {
  background-color: violet;

  @include medium {
    width: 50%;
  }
}

.events__score {
  background-color: lime;

  @include medium {
    width: 30%;
  }
}
