.events {
  height: 70vh;
}

<<<<<<< HEAD
.events__dates {
=======
.events__dates{
>>>>>>> b1ecd42fbf682293696e65a729d055db71686e3a
  background-color: violet;
  height: 50%;
}

<<<<<<< HEAD
.events__score {
=======
.events__score{
>>>>>>> b1ecd42fbf682293696e65a729d055db71686e3a
  background-color: lime;
  height: 50%;
}
