.event{
  font-size: .875rem;
  background-color: $background-2;
  overflow-y:hidden;

  @include medium {
    width: 50%;
    border-right: 1px solid $whiteOpacity-01;
  }
}

.event__item{
  display: block;
  width: 100%;
  padding: 9px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__itemDate{
  color: $pastel-pink;
}

.event__itemGame{
  img{
    width: auto;
    height: 16px;
    filter: invert(1);
  }
}

.event__itemTitle{
  text-overflow: ellipsis;
}
