/* BURGER */

.header__burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 20px;
  border-radius: 4px;
  z-index: 150;

  span {
    @include burger(30px, 3px, 6px, $iceberg-white); // gray
    position: absolute;
    top: 50%;
    right: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }

  &.clicked {
    span {
      @include burger-to-cross;

      &:before, &:after {
        background-color: $iceberg-white;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  @include large {
    display: none;
  }
}

/* HEADER */

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: $background;
  border-bottom: 2px solid $pastel-pink;

  @include transition(all .5s ease);

  @include large {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid $pastel-pink;
  }
}

.header--show {
  height: 100vh;

  .header__logo {
    width: 25%;
    height: auto;
    margin-top: 5%;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
    justify-content: space-evenly;

    a:hover {
      color: $pastel-pink;
    }
  }

  .header__social {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }
}

.header--large {
  @include large {
    height: 16vh;
  }
}

.header--small {
  @include large {
    height: 8vh;
  }
}

.header__logo {
  height: 90%;

  img {
    height: 100%;
  }

  span {
    display: none;
  }

  @include large {
    display: flex;
    align-items: center;
    padding-left: 3vw;
    width: 30%;
    font-size: 2rem;
    font-family: "Avengeance";
    color: $iceberg-white;

    img {
      height: 100%;
    }

    span {
      display: inline-block;
    }
  }
}

.header__nav {
  display: none;

  a{
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $grey-text;

    @include large {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 100%;
      padding: 0 2%;

      &:hover {
        background-color: #302929;
        color: $iceberg-white;
      }
    }
  }

  @include large {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
  }
}

.header__social {
  display: none;

  a{
    font-size: 2rem;
    color: white;
    text-decoration: none;

    @include large {
      margin: 0 2%;
    }
  }

  @include large {
    display: flex;
    justify-content: space-evenly;
    padding-right: 3vw;
    width: 25%;
  }
}
