header {
  width: 100%;
  height: 10vh;
  background: $background;
  border-bottom: 2px solid $pastel-pink;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    flex-direction: row;
    justify-content: space-between;
    height: 16vh;
    border-bottom: 4px solid $pastel-pink;
  }
}

.header__logo {
  height: 90%;

  img {
    height: 100%;
  }

  span{
    display: none;
  }

  @include medium {
    display: flex;
    align-items: center;
    padding-left: 3vw;
    /*TEXT*/
    font-family: "Avengeance";
    font-size: 2rem;
    color: $iceberg-white;
    width: 30%;

    img {
      height: 100%;
    }

    span{
      display: inline-block;
    }
  }
}

.header__nav {

  a{
    color: $grey-text;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }

  @include medium{
      width: 25%;
      display: flex;
      justify-content: space-evenly;
  }
}

.header__social {
  a{
    color: white;
    text-decoration: none;
    font-size: 2rem;

    @include medium{
      margin: 0 2%;
    }
  }

  @include medium{
      width: 45%;
      display: flex;
      justify-content: flex-end;
      padding-right: 3vw;
  }
}
