.hero {
  background-color: #080C3B;
  width: 100%;

  @include medium {
    display: flex;
    height: 80vh;
  }
}

.hero__newsItem--primary {
  height: 40vh;
  background-color: #7E82B1;

  @include medium {
    display: flex;
    height: 100%;
    width: 65%;
  }
}

.hero__newsItem--secondary {

  & > article:first-child {
    height: 25vh;
    background-color: #545993;

<<<<<<< HEAD
    @include medium {
=======
    @include medium{
>>>>>>> b1ecd42fbf682293696e65a729d055db71686e3a
      height: 40%;
    }
  }

  & > article:nth-child(2) {
    height: 25vh;
    background-color: #191E58;

<<<<<<< HEAD
    @include medium {
=======
    @include medium{
>>>>>>> b1ecd42fbf682293696e65a729d055db71686e3a
      height: 60%;
    }
  }

<<<<<<< HEAD
  @include medium {
=======
  @include medium{
>>>>>>> b1ecd42fbf682293696e65a729d055db71686e3a
    width: 35%;
  }
}
