.hero {
  margin-top: 10vh;
  width: 100%;
  border-bottom: 4px solid $pastel-pink;
  background-color: #080C3B;

  img{ // A revoir ?
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include large {
    display: flex;
    height: 75vh;
    margin-top: 16vh;
  }
}

.hero__newsItemDesc {
  position: absolute;
  z-index: 2;
  color: $iceberg-white;
  background-color: $hero-desc;

  h2,h3,h4 {
    margin-bottom: 2%;
  }

  a {
    color: $logo-pink;
    text-decoration: none;

    &:hover {
      color: tint($logo-pink, 20%);

      i {
        transform: translateX(70%);
        transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
      }
    }
  }
}

.hero__newsItem:first-child {
  height: 40vh;
  background-color: #7E82B1;

  .hero__newsItemDesc {
    top: 38%;
    padding: 1% 2%;

    @include medium {
      top : 40%;

      h2 {
        font-size: 1.4em;
      }
    }

    @include large {
      left: 0%;
      top: 76%;
      padding: 1% 4%;

      h2{
        font-size: 2em;
      }
    }
  }

  @include large {
    display: flex;
    height: 100%;
    width: 65%;
  }
}

.hero__newsItem:nth-child(2) {

  .hero__newsItemDesc {

    @include medium {
      h3 {
        font-size: 1.4em;
      }

      h4 {
        font-size: 1.4em;
      }
    }

    @include large {
      padding: 1% 2%;
      transform: translateY(-140%);

      h3 {
        font-size: 1.4em;
      }

      h4 {
        font-size: 1.2em;
      }
    }
  }

  @include large {
    width: 35%;
  }

  & > article:first-child {
    height: 30vh;
    background-color: #545993;

    .hero__newsItemDesc {
      width: 100%;
      top: 66%;
      padding: 2% 2%;

      @include medium {
        top: 70%;
        width: 80%;
      }

      @include  large {
        top: inherit;
        width: inherit;
        padding: 1% 2%;
      }
    }

    @include large {
      height: 40%;
    }
  }

  & > article:last-child {
    height: 30vh;
    background-color: #191E58;

    .hero__newsItemDesc {
      width: 100%;
      top: 100%;
      padding: 2% 2%;

      @include medium {
        width: 80%;
      }

      @include large {
        top: inherit;
        width: inherit;
        padding: 1% 2%;
      }
    }

    @include large {
      height: 60%;
    }
  }
}
