.news {
  margin-bottom: 5vh;

  @include medium {
    display: flex;
    margin-bottom: 4%;
  }
}

.news__thumb {
  img { // A revoir ?
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include medium {
      width: 40%;
      margin-right: 1%;
      border-left: 4px solid $logo-pink;
      padding-left: 6px;
  }
}

.news__desc {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 5%;

  h3 {
    margin-bottom: 4vh;
    font-size: 1.8rem;
    font-weight: bold;

    @include medium {
      margin-bottom: 3%;
    }
  }

  a {
    margin-top: 3%;
    color: $pastel-pink;
    align-self: flex-end;
  }

  @include medium {
    width: 60%;
    padding: 1%;
  }
}

.news__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 14px;
  background: #d9344a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.news__btn:hover {
  background: #fa255a;
  text-decoration: none;
}
