.wrap {
  color: $iceberg-white;
  border-bottom: 1px solid $whiteOpacity-01;

  .wrap--inner{
    padding: 3% 9%;
  }

  @include medium {
    display: flex;
    flex-wrap: wrap;
  }

  @include large {
    height: 30vh;
  }
}

.wrap__header{
  h2 {
    padding: 5% 0% 5% 4%;
    background: rgba(0,0,0,0.23);
    background-repeat: no-repeat;
    background-size: 40%;
    text-transform: uppercase;
  }
}

.wrap__video {
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
  }

  @include medium {
    order: 1;
    width: 100%;
    height: 30vh;
  }

  @include large {
    width: 25%;
    height: auto;
  }
}

.wrap__events {
  overflow-y: hidden;

  span {
      margin-right: 1.5%;
  }

  @include medium {
    order: 1;
    display: flex;
    width: 70%;
    border-left: 1px solid $whiteOpacity-01;
    border-right: 1px solid $whiteOpacity-01;
    overflow-y: inherit;
  }

  @include large {
    width: 50%;
  }
}

.wrap__score {
  height: 100%;

  @include medium {
    order:2;
    width: 30%;
    height: 25vh;
  }

  @include large {
    width: 25%;
    height: auto;
  }
}
