@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
 font-family: "Badonk";
 src: url("../fonts/badonk-a-donk2.otf") format("truetype");
}
@font-face {
 font-family: "Avengeance";
 src: url("../fonts/AVENGEANCE.ttf") format("truetype"),
      url("../fonts/AVENGEANCE.otf") format("truetype");
}
