include ../partials/header.pug

<section class="hero">
  <div class="hero__news--primary"></div>
  <div class="hero__news--secondary"></div>
  <div class="hero__news--thirdly"></div>
</section>

<section class="events">
  <div class="events__dates">
    <article class="events__datesCommunity"></article>
    <article class="events__datesTournaments"></article>
  </div>
  <div class="events__score">
  </div>
</section>

<section class="main">
  <div class="main__news">
    <article class="main__newsItem"></article>
    <article class="main__newsItem"></article>
    <article class="main__newsItem"></article>
  </div>
  <aside class="main__community"></aside>
</section>

include ../partials/footer.pug
