<section class="content">
  <div class="content__news">
    <h2> News </h2>

    <article class="news">
      <div class="news__thumb">
        <img src="img/news/n1.jpg" />
        <span></span>
      </div>
      <div class="news__desc">
        <h3>Bonjour, je suis un article</h3>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
        <a href="#">Lire plus...</a>
      </div>
    </article>

    <article class="news">
      <div class="news__thumb">
        <img src="img/news/n2.jpg" />
        <span></span>
      </div>
      <div class="news__desc">
        <h3>Bonjour, je suis un article</h3>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
        <a href="#">Lire plus...</a>
      </div>
    </article>

    <article class="news">
      <div class="news__thumb">
        <img src="img/news/n3.jpg" />
        <span></span>
      </div>
      <div class="news__desc">
        <h3>Bonjour, je suis un article</h3>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
        <a href="#">Lire plus...</a>
      </div>
    </article>

    <a class="news__btn" href="#">Voir plus</a>
  </div>

  <aside class="content__community">
    <form class="form" action="#" method="post">
      <h2>Newsletter</h2>
      <input class="form__input" type="email" name="email" placeholder="Entrez votre e-mail" required>
      <input class="form__submit" type="submit" value="M'inscrire">
    </form>

    <div class="content__communityPub">
      <div class="content__communityPubItem">
        <a href=""><img src="img/pub/coca.jpg" alt="pub" /></a>
      </div>

      <div class="content__communityPubItem">
        <a href=""><img src="img/pub/hiring.jpg" alt="pub" /></a>
      </div>

      <div class="content__communityPubItem">
        <a href=""><img src="img/pub/pubg_cup.jpg" alt="pub" /></a>
      </div>
    </div>

  </aside>
</section>
