<section class="content">
  <div class="content__news">
    <h2> News </h2>

    <article class="news">
      <div class="news__thumb">
        <img src="img/news/n1.jpg" alt="news">
      </div>
      <div class="news__desc">
        <h3>League of Legends: notre saison 8 en préparation</h3>
        <p>En partant des LCS EU vers la LCK, LPL, Wildcard, Circuit Français et l'Open Tour France, on vous dévoile notre planning pour cette saison ! Et il va y avoir du spectacle pour tout le monde, notamment avec notre jeune lineup fraîchement formée: à voir ce que donnera la première sur les champs de justice.</p>
        <a href="#">Lire plus...</a>
      </div>
    </article>

    <article class="news">
      <div class="news__thumb">
      <img src="img/news/n2.jpg" alt="news">
      </div>
      <div class="news__desc">
        <h3>Résumé de la Gamers Assembly de Poitiers</h3>
        <p>Et oui ! Nous y étions, nous avons participé ! La Gamers Assembly, le tout premier événement auquel Nighthowl a participé. Mais cette fois-ci, tout s'est joué autour de Fortnite. Histoire à suivre...</p>
        <a href="#">Lire plus...</a>
      </div>
    </article>

    <article class="news">
      <div class="news__thumb">
      <img src="img/news/n3.jpg" alt="news">
      </div>
      <div class="news__desc">
        <h3>Super Smash Bros : le retour</h3>
        <p>Comme vous êtes sans doute déjà au courant, un nouvel opus de Smash Bros va sortir sur la Nintendo Switch à la fin de l'année. C'est une occasion en or pour commencer à former une nouvelle équipe et être prêt pour l'événement... et les compétitions. On vous en dit plus !</p>
        <a href="#">Lire plus...</a>
      </div>
    </article>

    <a class="news__btn" href="#">Voir plus</a>
  </div>

  <aside class="content__community">
    <form class="form" action="#" method="post">
      <h2>Newsletter</h2>
      <input class="form__input" type="email" name="email" placeholder="Entrez votre e-mail" required>
      <input class="form__submit" type="submit" value="M'inscrire">
    </form>

    <div class="content__communityPub">
      <div class="content__communityPubItem">
        <a href=""><img src="img/pub/coca.jpg" alt="pub" /></a>
      </div>

      <div class="content__communityPubItem">
        <a href=""><img src="img/pub/hiring.jpg" alt="pub" /></a>
      </div>

      <div class="content__communityPubItem">
        <a href=""><img src="img/pub/pubg_cup.jpg" alt="pub" /></a>
      </div>
    </div>

  </aside>
</section>
