<section class="events">
  <div class="events__dates">
    <article class="events__datesCommunity"></article>
    <article class="events__datesTournaments"></article>
  </div>
  <div class="events__score">
  </div>
</section>
