<footer class="footer">
  <div class="footer__partners">
    <a href="#"><img src="./img/sponsors/amd.png" alt="partner"/></a>
    <a href="#"><img src="./img/sponsors/chillblast.png" alt="partner"/></a>
    <a href="#"><img src="./img/sponsors/deezer.png" alt="partner"/></a>
    <a href="#"><img src="./img/sponsors/msi.png" alt="partner"/></a>
  </div>
  <div class="footer__menu">
    <div class="footer__wrap">
      <img src="img/logo.svg" alt="logo" />
      <div class="footer__wrapColumn">
        <h4>Plus</h4>
        <ul>
          <li><a href="">À propos</a></li>
          <li><a href="">Partenaires</a></li>
          <li><a href="">Recrutement</a></li>
        </ul>
      </div>
      <div class="footer__wrapColumn">
        <h4>Social</h4>
        <ul>
          <li><a href="">Facebook</a></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">YouTube</a></li>
          <li><a href="">Twitch</a></li>
        </ul>
      </div>
      <div class="footer__wrapColumn">
        <h4>Aide</h4>
        <ul>
          <li><a href="">Contact</a></li>
          <li><a href="">Support</a></li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="footer__policy">
      <div class="footer__policyCopy">
        <p>&copy 2017-2018 | NighHowl. Tous droits réservés.</p>
      </div>
      <div class="footer__policyTerms">
        <a href="#">Mentions légales</a>
        <a href="#">CGU</a>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
