<section class="hero">
  <div class="hero__newsItem--primary"></div>
  <div class="hero__newsItem--secondary">
    <article class="hero__newsItem"></article>
    <article class="hero__newsItem"></article>
  </div>
</section>
