<section class="hero">
  <div class="hero__newsItem">
    <img src="./img/lineup.jpg"/>
    <div class="hero__newsItemDesc">
      <h2>CS:GO - Nouvelle lineup en préparation</h2>
      <a href="#">Lire plus <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="hero__newsItem">
    <article>
      <img src="./img/rocket.jpg"/>
      <div class="hero__newsItemDesc">
        <h4>Suivez la Rocket League Championship Series!</h4>
        <a href="#">Lire plus <i class="fas fa-arrow-right"></i></a>
      </div>
    </article>
    <article>
      <img src="./img/mario.jpg"/>
      <div class="hero__newsItemDesc">
        <h3>Mario Kart, un jeu plein de compétition</h3>
        <a href="#">Lire plus <i class="fas fa-arrow-right"></i></a>
      </div>
    </article>
  </div>
</section>
