<section class="hero">
  <div class="hero__newsItem"><img src="./img/lineup.jpg"/></div>
  <div class="hero__newsItem">
    <article><img src="./img/rocket.jpg"/></article>
    <article><img src="./img/mario.jpg"/></article>
  </div>
</section>
