<section class="hero">
  <div class="hero__newsItem--primary"><img src="../img/lineup.jpg"/></div>
  <div class="hero__newsItem--secondary">
    <article class="hero__newsItem"><img src="../img/rocket.jpg"/></article>
    <article class="hero__newsItem"></article>
  </div>
</section>
