<section class="wrap">
  <div class="wrap__video">
    <iframe src="https://www.youtube.com/embed/UyHmyLyBm_A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="wrap__events">

    <div class="event">
      <div class="wrap__header">
        <h2> Événements à venir </h2>
      </div>
      <ul class="inner">
        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

        <li class="event__item">
          <span class="event__itemDate">9 Avril</span>
          <span class="event__itemType">Match</span>
          <span class="event__itemGame"><img src="./img/games/Trackmania.svg"/></span>
          <span class="event__itemTitle">NitroShot League</span>
        </li>

      </ul>
    </div>

    <div class="tournament">
      <div class="wrap__header">
        <h2> Compétitions </h2>
      </div>
      <ul class="inner">
        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

        <li class="tournament__item">
          <span class="tournament__itemDate">bientôt</span>
          <span class="tournament__itemGame"><img src="./img/games/csgo.svg"/></span>
          <span class="tournament__itemTitle">Meteor League Season 1</span>
        </li>

      </ul>
    </div>

  </div>

  <div class="wrap__score">
    <div class="wrap__header">
      <h2> Derniers résultats </h2>
    </div>
    <div class="score">
      <div class="score__infos">
        <span class="score__infosGame"></span>
        <h4 class="score__infosEvent"></h4>
        <span class="score__infosGroup"></span>
      </div>
      <div class="score__results"></div>
      <span class="score__resultsVS">vs</span>
      <div class="score__resultsLocal">
        <img src="" alt="NightHowl"/>
        <span class="score__resultsPoints"></span>
      </div>
      <div class="score__resultsVisitor">
        <span class="score__resultsPoints"></span>
        <img src="" alt="Team"/>
      </div>
    </div>
  </div>
</section>

                                                                                                                                                                    </div></div>
