* {
  box-sizing: border-box;
}

html, body {
    min-width: 320px;
    overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  @include medium{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}
