* {
  box-sizing: border-box;
}

html, body {
  min-width: 320px;
  overflow-x: hidden;
  background: $background-2;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  width: 100%;
}

div{
  width: 100%;
}
